doctype html

html
	head
		title="formulario"
	body

form(action="/",method="POST")
	div
		input(name="nome" value="informe seu nome")  
		br
		input(name="idade" value="informe sua idade") 
		br
		button(type="submit") Salvar